name: AUnit Tests

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Setup
      run: |
        cd ..
        git clone https://github.com/bxparks/EpoxyDuino

    - name: Verify examples
      run: |
        make -C examples

    - name: Verify tests
      run: |
        make -C tests
        make -C tests runtests
